<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.621221733551-r08gbq6otg3naph7aua9v58d6769e8qp</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>621221733551-r08gbq6otg3naph7aua9v58d6769e8qp.apps.googleusercontent.com</string>
</dict>
</plist>
